.container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DCE5E4;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    color: #080F0F;
}

quote-block {
    color: #080F0F;
    background-color: #EFF2C0;
    padding: 20px;
    font-size: 16px;
    border: 2px #BEA57D;
    border-radius: 10px;
    text-overflow: none;
}